#beerSection{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#pageTitle{
    text-align: right;
}

.beerCard{
    align-items: center;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#beerTitle{
    text-align: center;
    font-size: large;
    font-weight: bold;
    height: 30px;
}

#beerTagline{
    font-size: medium;
    height: 20px;
    text-align: center;
}

#beerImage{
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

#singleBeerButton{
    float: right;
    margin-top: auto;
}


#modal{
    border-radius: 5px;
    border-width: 2px;
    background-color: gray ;
    padding: 10px;
}

#modalTitle{
    color: white;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
  }
  #modalTagline{
    color: white;
    text-align: center;
  }
  #modalText{
    color: white;
  }